/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp B  &kp L  &kp D     &kp W      &kp Z             &kp COMMA  &kp F          &kp O       &kp U      &kp J     &none
&none  &kp N  &kp R  &kp T     &kp S      &kp G             &kp Y      &kp H          &kp A       &kp E      &kp I     &none
&none  &kp Q  &kp X  &kp M     &kp C      &kp B             &kp K      &kp P          &kp PERIOD  &kp MINUS  &kp FSLH  &none
                     &kp LGUI  &kp SPACE  &kp LEFT_SHIFT    &kp RET    &kp BACKSPACE  &kp DELETE
            >;
        };
    };
};
